/* styles.css */

a {
	text-decoration: none;
}

html,
body {
	height: 100%;
}

/* cover */
body {
	background-size: cover;
}

.my-nav-bg {
	background: rgba(0, 0, 0, 0.68);
}

.my-nav {
	position: absolute; 
    bottom: 0; 
    right: 0;
    margin-bottom: 10px;
}

.img-fluid-custom {
	display: block;
}

#fa-vk {
	color: #4c75a3;
}

#fa-twitter {
	color: #00aced;
	opacity: .85;
}

#fa-vk:hover {
	color: #769ec9;
}

#fa-twitter:hover {
	color: #4dc6f2;
}


#top-nav-bg {
	background: rgba(0, 0, 0, 0.68);
}

.navbar-toggler {
    color: #cc7e00;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ea9d05;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .active>.nav-link:focus, .navbar-dark .navbar-nav .active>.nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .open>.nav-link, .navbar-dark .navbar-nav .open>.nav-link:focus, .navbar-dark .navbar-nav .open>.nav-link:hover {
    color: #eaeaea;
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
    font-size: 1.2rem;
}


a.map-links:focus, a.map-links:hover {
    color: #ffffff;
    text-decoration: none;
}
a.map-links {
    text-decoration: none;
    color: #e6e6e6;
}


.active {
	color: #a2a2ef;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 157, 0, 0.8);
}

.btn-success-outline {
    color: #ce9424;
    background-color: transparent;
    background-image: none;
    border-color: rgba(255, 157, 0, 0.8);
    border-radius: 0;
}

.btn-success-outline:hover {
	background-color: rgba(255, 157, 0, 0.8);
	color: white;
}

.form-inline .form-control {
    border-radius: 0px;
}


#nav-bg-terrorist {
	background: url("../images/orange_terrorist.png");
	background-repeat:no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
    background-position: right;

}

#cover {
	background: #222 url('img/stars.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

/* IMPORTANT LINE BELOW!!! */

/*
img {
	max-width: 100%;
}
#cover-caption {
	width: 100%;
}

/* 1 REM = 16px */


.section-content {
	padding: .5rem 0;
	background: url('../images/bg.jpg');
}

#about {
	background: url('img/girlincar.jpg') center center no-repeat;
	background-size: cover;
}

.about-text {
	background: rba(0,0,0,0.8);
	padding: 1.875rem;
}


.list-group-item {
	padding: .4rem .75rem;
    border: 0;
}

.list-header {
	background-color: #364658;
	color: white;
}

.list-odd {
	background-color: #536273;
	color: #e8e8e8;
}

.list-even {
	background-color: #485564;
	color: #e8e8e8;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Image Map Text Box */

#info {
	margin-top: -23rem;
	float:left;
	font-size: 1.2rem;
	margin-left:50%;
}

.breadcrumb {
    padding: .5rem .6rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #000000;
    border-radius: 0;
}

.breadcrumb a {color: rgba(255, 157, 0, 0.8);}
.breadcrumb a:hover {
	text-decoration: none;
	color: #ea9d05;
}
.breadcrumb>.active {color: #eaeaea;}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .3s;
    border-radius: 0;
}

.btn-primary.btn-outline {
    color: #428bca;
    border-radius: 0;
}

.btn-success.btn-outline {
    color: #5cb85c;
    border-radius: 0;
}

.btn-info.btn-outline {
    color: #5bc0de;
    border-radius: 0;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
    border-radius: 0;
}

.btn-danger.btn-outline {
    color: #d9534f;
    border-radius: 0;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
    border-radius: 0;
}

/*.btn-group-lg>.btn, .btn-lg {
    border-radius: 0;
}
.btn-warning {
    color: #fff;
    background-color: rgba(255, 157, 0, 0.8);
    border-color: #7b4e0e;
    border-radius: 0;
} */

#clock {
	color: #bfbfbf;
}
